<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 1. namespace必须和Mapper接口类路径一致 -->
<mapper namespace="com.item.mapper.BridgeMapper">
		<resultMap id="bridgeResult" type="com.item.entity.Bridge">
	        <id property="id" column="id" />
	        <result property="category" column="category" />
	        <result property="name" column="name" />
	        <result property="area" column="area" />
	        <result property="height" column="height" />
	        <result property="realheight" column="realheight" />   
	        <result property="diameter" column="diameter" />  
	        <result property="textures" column="textures" />
	        <result property="longs" column="longs" />   
	        <result property="widths" column="widths" />
	        <result property="weight" column="weight" />   
	        <result property="style" column="style" />
	        <collection property="messages"  ofType="com.item.entity.BridgeMessage">
				<id property="mid" column="mid" />
		        <result property="message" column="message" />	    
			</collection>
	         	 
	    </resultMap>



	<!-- 添加excel 内容 -->
	<insert id="insertBridges" parameterType="java.util.List">
    	insert into bridge (id, category,name, area, height,realheight, diameter,textures,longs,widths,weight)
   		 values
	    <foreach collection="list" item="item" index="index" separator=",">
	      (#{item.id}, #{item.category}, #{item.name},#{item.area}, #{item.height},
	      #{item.realheight}, #{item.diameter}, #{item.textures}, #{item.longs}, #{item.widths}, #{item.weight})
	    </foreach>
	</insert>
	
	<!-- 添加信息 -->
	<insert id="insertBridgeMessage" parameterType="com.item.entity.BridgeMessage">
		insert into bridgemessage (id,message) values (#{id},#{message})
	</insert>
	
	<!-- 根据条件查询 -->
	<select id="queryBridgeList" resultMap="bridgeResult">
		SELECT
			a.*, b.message,b.mid,
		  case when  ( select count(*) from bridgemessage where id=	a.id) >0 then 1 else 0 end style
		FROM
			bridge a
		LEFT JOIN bridgemessage b ON a.id = b.id
		<where>
			<if test="id != null and id !=''">
				and a.id=#{id}
			</if>
		</where>
	</select>
</mapper>