<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace： 1. namespace必须和Mapper接口类路径一致 -->
<mapper namespace="com.item.mapper.BridgeMapper">
		<resultMap id="bridgeResult" type="com.item.entity.Bridge">
	        <id property="bridge_id" column="bridge_id" />
	        <result property="bridge_category" column="bridge_category" />
	        <result property="bridge_name" column="bridge_name" />
	        <result property="bridge_area" column="bridge_area" />
	        <result property="bridge_height" column="bridge_height" />
	        <result property="bridge_realheight" column="bridge_realheight" />   
	        <result property="bridge_diameter" column="bridge_diameter" />  
	        <result property="bridge_textures" column="bridge_textures" />
	        <result property="bridge_longs" column="bridge_longs" />   
	        <result property="bridge_widths" column="bridge_widths" />
	        <result property="bridge_weight" column="bridge_weight" />   
	        <result property="bridge_style" column="bridge_style" />
	        <collection property="messages"  ofType="com.item.entity.BridgeMessage">
				<id property="id" column="id" />
				<result property="bridge_id" column="bridge_id" />
		        <result property="bridge_message" column="bridge_message" />	    
			</collection>
	         	 
	    </resultMap>



	<!-- 添加excel 内容 -->
	<insert id="insertBridges" parameterType="java.util.List">
    	insert into bridge (bridge_id, bridge_category,bridge_name, bridge_area, bridge_height,bridge_realheight, bridge_diameter,bridge_textures,bridge_longs,bridge_widths,bridge_weight)
   		 values
	    <foreach collection="list" item="item" index="index" separator=",">
	      (#{item.bridge_id}, #{item.bridge_category}, #{item.bridge_name},#{item.bridge_area}, #{item.bridge_height},
	      #{item.bridge_realheight}, #{item.bridge_diameter}, #{item.bridge_textures}, #{item.bridge_longs}, #{item.bridge_widths}, #{item.bridge_weight})
	    </foreach>
	</insert>
	
	<!-- 添加信息 -->
	<insert id="insertBridgeMessage" parameterType="com.item.entity.BridgeMessage">
		insert into bridgemessage (bridge_id,bridge_message) values (#{bridge_id},#{bridge_message})
	</insert>
	
	<!-- 根据条件查询 -->
	<select id="queryBridgeList" resultMap="bridgeResult">
		SELECT
			a.*, b.bridge_message,
		  case when  ( select count(*) from bridgemessage where bridge_id=	a.bridge_id) >0 then 1 else 0 end bridge_style
		FROM
			bridge a
		LEFT JOIN bridgemessage b ON a.bridge_id = b.bridge_id
		<where>
			<if test="bridge_id != null and bridge_id !=''">
				and a.bridge_id=#{bridge_id}
			</if>
		</where>
	</select>
</mapper>